h2 {
    color: rgb(91, 108, 163);
    box-shadow: zx;
}

body {
    margin: 11px;
    height: 619px;
}

table {
    font-family: georgia;
    display: inline-block;
    border-collapse: collapse;
    background-color: rgb(170, 187, 241);
    box-shadow:  3px 5px 3px  rgb(77, 74, 74) ;
}
th{
    border: 1px solid ;
    padding: 5px 15px ;
    color: rgb(21, 39, 97);
    background-color: rgb(170, 187, 241);
}

td {
    border: 1px solid ;
    padding: 5px 15px ;
    background-color: rgb(198, 208, 240);
}



p {
    box-sizing: border-box;
    margin: 11px;
}
