h1 {
    font-size: 20px;
    margin: 0%
}

body {
    margin: 0%;
    height: 619px;
    background-color: rgb(240, 241, 243);
}

table {
    font-family: georgia;
    display: inline-block;
    margin: 20px;
    border-collapse: collapse;
    width: 500px;
}

td, th {
    border: 1px solid #030303;
    text-align: center;
    padding: 5px 15px ;
}


p {
    padding: 10px;
    box-sizing: border-box;
    margin: 11px;
}
