h1 {
    font-size: 20px;
}

h3{
    color: rgb(152, 48, 179);
}

body {
    margin: 11px;
    height: 619px;
}

table {
    font-family: georgia;
    display: inline-block;
    border-collapse: collapse;
    background-color: rgb(255, 202, 251);
    box-shadow:  3px 5px 3px  rgb(77, 74, 74) ;
}

td, th {
    border: 1px solid ;
    text-align: center;
    padding: 5px 15px ;


}


p {
    box-sizing: border-box;
    margin: 11px;
}
